.restaurant {
    &--List {
        display: flex;
        flex-direction: row;
        width: 100%;
       
        

        &--boxs {
            width: 100%;
            // margin: 10px;
            // text-align: center;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            img {
                width: 350px;
                height: 200px;
            }


        }

        &--box {
            margin-bottom: 10px;
            margin-right: 20px;
        }

    }
}