/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(assets/img/pexels-pixabay-235985.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}